{% extends 'base.html' %}

{% block title %} {{ pet.name }} Info {% endblock %}

{% block content %}

<h1>{{ pet.name }}</h1>

<img src='{{ pet.photo_url }}' width="200" height="200">

<p>Age: {{ pet.age }}</p>
<p>Species: {{ pet.species }}</p>

<form id="pet-edit-form" method="POST" action=''>
  {{ form.hidden_tag() }}

  {% for field in form
        if field.widget.input_type != 'hidden' %}
    
    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>
  
  {% endfor %}

  <button type="submit">Submit</button>
</form>

<a href='/'><button>Home</button></a>


{% endblock %}